
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// select2
@import "node_modules/select2/dist/css/select2";

.form-search {
    margin-bottom: 15px;
}
.tac {
    text-align: center;
}
.panel-default {
    padding: 10px;
}
.star-svg {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.star-svg__svg {
    fill: #aaadb1;
    width: 30px;
}
.star-svg__value {
    margin-left: 10px;
}
.star-svg__svg.hover {
    fill: #3097D1;
    cursor: pointer;
}
